<% layout("/layouts/boilerplate")%>
<body>
    <div class="container py-4 d-flex justify-content-center align-items-center min-vh-100  mx-5">
        <div class="row justify-content-center w-100">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card shadow-lg border-1" style="width: 85%;">
                    <div class="card-header text-center">
                        <h3>Edit Listing</h3>
                    </div>
                    <div class="card-body p-4">
                        <form method="POST" action="/listings/<%=listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
                            <div class="mb-2">
                                <label for="title" class="form-label fw-bold">Title</label>
                                <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                                <div class="valid-feedback">This title is sure to grab attention!</div>
                                <div class="invalid-feedback">Title needs improvement!</div>
                            </div>
                            <div class="mb-2">
                                <label for="description" class="form-label fw-bold">Description</label>
                                <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                                <div class="valid-feedback">Description looks great!</div>
                                <div class="invalid-feedback">Improve the description!</div>
                            </div>
                            <div class="mb-2">
                                <h5 class="fw-bold">Current Image Listing</h5>
                                <div class="text-start">
                                    <img class="img-thumbnail" style="width: 25%; height: auto;" src="<%= originalImageUrl %>">
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="image" class="form-label fw-bold">Upload New Image</label>
                                <input name="listing[image]" type="file" class="form-control">
                            </div>
                            <div class="row">
                                <div class="mb-2 col-md-4">
                                    <label for="price" class="form-label fw-bold">Price</label>
                                    <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                                    <div class="valid-feedback">Price is a good choice!</div>
                                    <div class="invalid-feedback">Price needs improvement!</div>
                                </div>
                                <div class="mb-2 col-md-8">
                                    <label for="country" class="form-label fw-bold">Country</label>
                                    <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                                    <div class="valid-feedback">Country is a good choice!</div>
                                    <div class="invalid-feedback">Enter a valid country!</div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="location" class="form-label fw-bold">Location</label>
                                <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                                <div class="valid-feedback">Location looks fine!</div>
                                <div class="invalid-feedback">Invalid location details!</div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-dark btn-lg">Edit</button>
                            </div>
                            <!-- Cancel Button -->
                            <div class="d-grid gap-2 mt-2">
                                <button type="button" class="btn btn-secondary btn-lg" onclick="window.history.back()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
